{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "plugins": [
        "html",
        "vue"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    }
}